#loading {
    background: url('loaderp.gif') no-repeat center center;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: 9999999;
    
}
#navbar {
  position:fixed;
  display: block;
  width: 100%;
  top: -50px;
  left: 0%;
  background-color: blue;
  transition: top 0.3s;

}


#navbar  a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#navbar  a:hover {
  background-color: #111;
    border-bottom: 3px solid red;

}

.frameone{

  background-color:grey;
  width: 30;
 
  padding: 25px;
  float: left;
border: 2px solid black;
  height: 200;
  text-align: center;

}
.zoom:hover {
  transform: scale(1.2);
  border: 100 px solid blue;
}

.frametwo{

    text-align: top;
    width: 400;
    height:200;
  }

  #about
{
  background-color: lightgray;

}
#about>p
{
  padding: 10px;
  font-family: yellowtail;
}
  

#progressbar {
  width: 70%;
  background-color: black;
  border-radius: 13px;
  /* (height of inner div) / 2 + padding */
  padding: 3px;
}

#progressbar>div {
  background-color: orange;
  width: 80%;
  /* Adjust with JavaScript */
  height: 15px;
  border-radius: 10px;
}

#progressbar1 {
  width: 70%;
  background-color: black;
  border-radius: 13px;
  /* (height of inner div) / 2 + padding */
  padding: 3px;
}

#progressbar1>div {
  background-color: orange;
  width: 75%;
  /* Adjust with JavaScript */
  height: 15px;
  border-radius: 10px;
}


#progressbar2 {
  width: 70%;
  background-color: black;
  border-radius: 13px;
  /* (height of inner div) / 2 + padding */
  padding: 3px;
}

#progressbar2>div {
  background-color: orange;
  width: 75%;
  /* Adjust with JavaScript */
  height: 15px;
  border-radius: 10px;
}


#progressbar3 {
  width: 70%;
  background-color: black;
  border-radius: 13px;
  /* (height of inner div) / 2 + padding */
  padding: 3px;
}

#progressbar3>div {
  background-color: orange;
  width: 70%;
  /* Adjust with JavaScript */
  height: 15px;
  border-radius: 10px;
}


#progressbar4 {
  width: 70%;
  background-color: black;
  border-radius: 13px;
  /* (height of inner div) / 2 + padding */
  padding: 3px;
}

#progressbar4>div {
  background-color: orange;
  width: 85%;
  /* Adjust with JavaScript */
  height: 15px;
  border-radius: 10px;
}
#progressbar5 {
  width: 70%;
  background-color: black;
  border-radius: 13px;
  /* (height of inner div) / 2 + padding */
  padding: 3px;
}

#progressbar5>div {
  background-color: orange;
  width: 65%;
  /* Adjust with JavaScript */
  height: 15px;
  border-radius: 10px;
}

#social{
  
  position:;
  width: 98%;
  text-align: center;
  background-color: blue;
  padding: 15px;
  bottom: 0%;
  left: 0%;
}


